body {
	background-color: #f7bc14;
}

#wrap {
	min-width: 500px;
}

.login-wrap {
	margin: 0 auto;
	width: 273px;
}

.login-btn-wrap {
	margin-top: 160px;
}
.login-btn-wrap button {
	font-size: 20px;
}
.login-btn-wrap .btn-block+.btn-block {
	margin-top: 15px;
}